header {
  width: 60%;
  box-sizing: border-box;
  padding: 5px;

  h1 {
    font-size: 18px;
  }

  .buttons {
    .button {
      box-sizing: border-box;
      margin: 0 5px;
      padding: 3px;
      width: 120px;
    }
  }
}