.buttons {
    .button {
        img {
            width: 24px;
            vertical-align: middle;
        }

        .button_text {
            line-height: 24px;
            text-align: center;
            vertical-align: middle;
        }
    }
}