// modalの背景となる部分

.modal_back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000000, 0.7);
  z-index: 9;
}
// modalの要素
$modal_width: 400px;

.modal {
  width: $modal_width;
  // height: 380px;
  padding: 10px 10px 20px;
  position: absolute;
  top: calc(25%);
  left: calc(50% - (#{$modal_width} / 2));
  background-color: #fff;
  z-index: 99;

  label {
    display: block;
    margin: 5px;
    padding: 10px 5px;

    input[type="text"] {
      width: 250px;
    }

    textarea {
      width: 350px;
      height: 100px;
      resize: vertical;
    }
  }
}