#plan_container {
    width: 100%;
    // height: 100%;
    position: absolute;
    top: 0;
    left: 50px;

    #current_line {
        position: absolute;
        background-color: red;
        border-bottom: 1px solid #ff0000;
        width: 100%;
        height: 1px;
    }
}

.plan_element {
    position: absolute;
    background-color: blue;
    // height: 100%;
    p {
        margin: 0;
    }
}