.Structure {
    box-sizing: border-box;
    border: 1px solid #eee;
    margin-top: 5px;
    padding: 5px;

    .StructureElements {
        box-sizing: border-box;
        padding: 5px 3px 5px 10px;
    }
}