$flex_base_size: 280px; // flex要素の大きさ
$header_height: 47px; // headerの大きさ
$label_list: survay develop experiment write everyday; // タスクのラベルをリストで管理
$task_detail_width: 500px; // タスク詳細のサイズ
$members_task_width: 400px; // ほかユーザのモーダルのサイズ
