.WeekReflection {
  height: 100%;

  .WeekStructure {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .WeekStructureElement {
      flex-basis: 300px;

      .tasks {
        display: flex;
        flex-direction: column;
        flex-basis: 1;

        .task_container .task_element {
          opacity: 1;

          &[data-status='2'] {
            border: 1px solid #eee;
          }

          &[data-status='3'] {
            border: 1px solid #aaa;
          }
        }
      }
    }
  }
}