@import "../parts/button_parts.scss";

.buttons {
  .button {
    @extend .ButtonBase;
    width: 140px;
    padding: 3px;

    img {
      width: 24px;
      vertical-align: middle;
      margin-right: 10px;
    }

    .button_text {
      line-height: 24px;
      text-align: center;
      vertical-align: middle;
    }
  }

  form {
    display: inline;

    .button {
      @extend .ButtonBase;
      width: 140px;
      padding: 3px;
    }
  }
}