.modal_title {
  text-align: center;
}

.modal_subscribe {
  font-size: small;
}

.member_list {
  margin: 10px auto 0;
  border: 1px solid black;

  td,
  th {
    padding: 5px;
    border: 1px solid #ccc;
  }

  td {
    text-align: center;
  }

  .member {
    list-style: decimal;
    margin-bottom: 10px;

    .finish_rate {
      .task_num {
        font-size: small;
        margin-left: 5px;
      }
    }
  }
}