@import '../variable/variables.scss';

.Structure {
  height: 100%;
  display: flex;
  // 横並び
  flex-direction: row;
  // 折り返す
  flex-wrap: wrap;
  // コンテナの間にスペースを入れる
  justify-content: space-between;
  // 垂直方向の配置:伸ばす
  align-items: stretch;

  .StructureElement {
    flex-grow: 1;
    flex-basis: $flex_base_size;
    @import './task.scss';
    // タスクのラベルごとに色を変えたい
    $size: length($label_list);
    $scale: 360 / $size;
    @each $label in $label_list {
      $index: index($label_list, $label);

      &.#{$label} .task_element {
        background-color: hsla($scale * $index, 49%, 67%, 65%);
      };
    }
  }
}