@import '../variable/variables.scss';

.tasks {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;

  .task_element {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    // background-color: rgb(170, 203, 242);
    // min-width: 150px;
    width: $flex_base_size;

    .task_name {
      margin-left: 5px;
      font-size: large;
    }

    .expect_minute {
      margin: 2px;
    }
  }
}