// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'reset';

.login {
    position: relative;

    .container {
        position: absolute;
        // top: 40px;
        // bottom: 0;
        left: 0;
        right: 0;
        width: 300px;
        height: 150px;
        margin: 50px auto;

        h1 {
            margin-bottom: 30px;
        }

        #loginForm {
            input {
                margin-left: 10px;
            }

            button {
                margin-top: 10px;
            }
        }
    }
}