// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    position: relative;
    // ヘッダー
    @import "main_page/header";
    // ボタン関連
    @import "main_page/main_buttons";
    // ページのコンテナを置く場所を
    .main_container {
        // タスクリストの場所
        @import "./main_page/task_side";
        // アウトラインの場所
        @import "./main_page/outline_side";
    }
}

.hide {
    display: none;
}