// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./_reset";

.container {
    // background-color: skyblue;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    position: relative;
    // ヘッダー
    @import "main_page/header";
    // ボタン関連
    @import "main_page/main_buttons";
    // タスクリストの場所
    @import "main_page/main_task_list";
    // スケジュール部分
    @import "main_page/main_scheduler_side";
    // modal関連
    @import "./main_page/modal";
}

.hide {
    display: none;
}