// Place all the styles related to the reflection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reflection .container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  position: relative;

  #graph_area{
    margin-top: 10px;
    #canvas_area{
      #graph {
        border: 1px solid #123231;
        width: 100%;
        height: 100px;
      }
    }
    #graph_description {
      display: flex;
      justify-content: space-around;
    }
  }

  #information_area{
    margin-top: 30px;
  }
}
