// Place all the styles related to the task_structure controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task_structure .container {
    width: 90%;
    height: 100%;
    position: relative;
    margin: 0 auto;

    .structure_container {
        height: 100%;
        // StructureElementに対するスタイル
        @import "./task_structure/structure_element";
    }
}