// Place all the styles related to the task_structure controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './variable/variables';

.task_structure .container {
  width: 95%;
  height: 100%;
  position: relative;
  margin: 0 auto;

  header {
    height: $header_height;
    @import "./task_structure/buttons.scss";
  }

  .structure_container {
    height: calc(100% - #{$header_height});

    .Structure_Component {
      height: 100%;
      // StructureElementに対するスタイル
      @import "./task_structure/structure_element";
    }

    .members_task {
      $members_task_width: 300px;
      position: absolute;
      top: 25%;
      left: calc(50% - #{$members_task_width / 2});
      width: $members_task_width;
      background-color: #fff;
      @import "./task_structure/members_task";
    }
  }
}